:root {
  --container-padding: 3.2rem;
  --container-gap: 2rem;
  --profile-image-width: 100%;
  --profile-image-margin-bottom: 1rem;
  --profile-padding: 1rem;
  --profile-border: 1px solid #ccc;
  --profile-border-radius: 4px;
  --profile-gap: 1.2rem;
}

.container {
  width: 100%;
  margin: auto;
  padding: var(--container-padding);
}

.title {
  margin: auto;
}

.profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--profile-gap);
  padding: var(--profile-padding);
  border-radius: var(--profile-border-radius);
  width: 100%;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
}

.profile-image-container {
}

.profile-info-container {
}

.profile-image {
  max-width: var(--profile-image-width);
  aspect-ratio: 4/3;
  object-fit: cover;
  border-radius: var(--profile-border-radius);
}

.profile-info p {
  background-color: #f4e8ec;
  padding: 1rem;
  border-radius: var(--profile-border-radius);
  font-size: 1rem;
  color: #707070;
}

@media screen and (max-width: 768px) {
  .profile {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }
}
