:root {
  --container-padding: 0 3.2rem;
  --container-gap: 2rem;
  --profile-image-width: 100%;
  --profile-image-margin-bottom: 1rem;
  --profile-padding: 1rem;
  --profile-border: 1px solid #ccc;
  --profile-border-radius: 4px;
  --profile-gap: 1.2rem;
}

.container {
  width: 100%;
  margin: auto;
  padding: var(--container-padding);
}

.title {
  font-size: 2rem;
  color: #333;
  text-align: center;
  padding: 1rem;
}

.profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--profile-gap);
  padding: var(--profile-padding);
  border-radius: var(--profile-border-radius);
  width: 100%;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
}

.profile-image-container {
}

.profile-info-container {
}

.profile-alert-success {
  background-color: var(--success);
  color: var(--neutral);
  padding: 1rem;
  border-radius: var(--profile-border-radius);
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  transition: opacity 0.5s ease;
}

.profile-alert-error {
  background-color: var(--danger);
  color: var(--neutral);
  padding: 1rem;
  border-radius: var(--profile-border-radius);
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  transition: opacity 0.5s ease;
}

.profile-alert-success button,
.profile-alert-error button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: inherit;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem;
}

.profile-alert-container {
  display: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-image {
  width: var(--profile-image-width);
  aspect-ratio: 4/3;
  object-fit: contain;
  object-position: 50% 50%;
  border-radius: var(--profile-border-radius);
}

.profile-info p {
  background-color: #f4e8ec;
  padding: 1rem;
  border-radius: var(--profile-border-radius);
  font-size: 1rem;
  color: #707070;
}

@media screen and (max-width: 1200px) {
  .profile {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }
}

@media screen and (max-width: 768px) {
  .profile {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }
}

@media screen and (max-width: 480px) {
  .profile {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }
}
