.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form {
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

@media screen and (max-width: 768px) {
  .form {
    width: 50%;
  }
}
.responsive-image {
  aspect-ratio: 4 / 3;
  object-fit: contain;
  object-position: center;
  margin-bottom: 1rem;
}
