/* Dropzone.module.css */

/* Dropzone.module.css */

.dropzone {
  border: 2px dashed #888;
  padding: 20px;
  border-radius: 5px;
}

.text-center {
  text-align: center;
}

.lead {
  font-size: 1.25em;
  font-weight: 300;
}
