.spinner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.image-container {
  column-count: 3; /* adjust as needed */
  column-gap: 1rem;
  animation: slideIn 0.5s ease-in-out;
}

.card {
  margin: 0 0 16px;
  max-width: 100%;
  border: transparent;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: transform 0.2s ease-in-out, box-shadow 0.5s ease-in-out;
  filter: brightness(0.9);
  break-inside: avoid; /* prevent breaking inside a card */
}

.card img {
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 5px 5px 0 0;
}

.card-info {
  padding: 8px;
}

.card .title {
  font-size: 18px;
  font-weight: bold;
}

.card .description {
  font-size: 14px;
}

.card .author {
  font-size: 12px;
  color: #888;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.lazy {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.text-center {
  text-align: center;
}

.gallery-title {
  font-size: 64px;
  font-weight: bold;
  margin: 20px 0;
  font-family: 'Adeptly', sans-serif;
}

.lazy-loaded {
  opacity: 1;
}

/* Responsive design */

@media (max-width: 768px) {
  .image-container {
    column-count: 2;
  }
}

@media (max-width: 600px) {
  .image-container {
    column-count: 1;
  }
}
